<nav class="primary-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/fridge">Fridge</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/ingredients">Search Ingredients</a></li>
    <li><a href="/api/ingredients">API</a></li>
    <% if (userId) { %>
    <li><a href="/users/logout">Logout</a></li>
    <% } else { %>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
    <% } %>
  </ul>
</nav>
