<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fridge</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/fridge.css" />
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="title">
      <h1>What would you like to add <%= username %>?</h1>
    </div>
    <div class="action-container">
      <form action="fridge/add" method="post" class="action-form">
        <input
          type="text"
          name="ingredient"
          id="ingredient"
          placeholder="Add an ingredient"
        />
        <button type="submit">Add to Fridge</button>
      </form>
    </div>
    <div class="ingredientlist">
      <ul>
        <% ingredients.forEach(ingredient => { %>
        <li>
          <h2><%= ingredient %></h2>
          <form action="fridge/remove" method="POST">
            <input
              type="hidden"
              name="removeIngredient"
              value="<%= ingredient %>"
            />
            <button type="submit">Trash</button>
          </form>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
