<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fridge</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/fridge.css" />
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="title"><h1>Anything to add <%= username %>?</h1></div>
    <div class="add-box">
      <form action="fridge/add" method="post">
        <input type="text" name="ingredient" id="ingredient" />
        <button type="submit">Add to fridge</button>
      </form>
    </div>
  </body>
</html>
