<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the CSS files for styling -->
    <link rel="stylesheet" href="/css/register.css" />
    <title>Register page</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <div class="title">
          <!-- Dynamic title -->
          <h1>Welcome to GroceryGenie</h1>
          <h3>Register here for new users</h3>
        </div>
        <div class="auth-box">
          <!-- registry form split into divs for styling and uses post to save data to db -->
          <form class="user" action="registered" method="post">
            <!-- Input field for the username -->
            <div class="username-box">
              <input
                type="text"
                id="auth-input-group"
                placeholder="username"
                name="username"
                required
              /><br />
            </div>
            <!-- Input field for the first name -->
            <div class="firstname-box">
              <input
                type="text"
                id="auth-input-group"
                placeholder="first name"
                name="firstname"
                required
              /><br />
            </div>
            <!-- Input field for the last name -->
            <div class="lastname-box">
              <input
                type="text"
                id="auth-input-group"
                placeholder="last name"
                name="lastname"
                required
              /><br />
            </div>
            <!-- Input field for the email -->
            <div class="email-box">
              <input
                type="email"
                id="auth-input-group"
                placeholder="email"
                name="email"
                required
              /><br />
            </div>
            <!-- Input field for the password -->
            <div class="pass-box">
              <input
                type="text"
                id="auth-input-group"
                placeholder="password"
                name="password"
                required
              />
            </div>
            <button type="submit" class="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
