.title,
h2 {
  text-align: center;
  color: black;
  padding-top: 1%;
}

/* Center and align all actions (/fridge/add form) */
.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Add space between elements */
  margin-top: 20px;
}

.action-form {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Style for input field */
.action-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1.1em;
  box-sizing: border-box;
}

.action-form input {
  margin-right: 15px; /* Add space between input and button */
}

/* Style for both buttons */
.action-form button,
.show-fridge-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #5f7838;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  box-sizing: border-box;
}

/* make add button brighter green on hover */
.action-form button:hover,
.show-fridge-btn:hover {
  background-color: #45a049;
}

.ingredientlist ul {
  margin: 0;
  padding: 2%;
}

/* Styling for individual items in list*/
.ingredientlist ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Styling for each ingredient (h2) */
.ingredientlist h2 {
  margin: 0;
  font-size: 1.5em;
}

/* Trash button styling */
.ingredientlist button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.1em;
}

.ingredientlist ul li,
.ingredientlist h2 {
  background-color: aliceblue;
}

/* Trash button color change on hover to bright red*/
.ingredientlist button:hover {
  background-color: #ff3333;
}
