* {
  background-color: #f5f5fa;
  margin: 0px;
  padding: 0px;
}

.primary-nav {
  background-color: #4caf50;
  text-align: center;
  margin: 0px;
  padding: 10px;
}
.primary-nav ul {
  list-style: none;
}

.primary-nav li {
  display: inline;
  padding: 10px;
}

.primary-nav li a {
  /* font-family: 'Courier New', Courier, monospace; */
  color: aliceblue;
  text-decoration: none;
  font-weight: normal;
  padding: 10px 5px;
  font-size: 1.2em;
}

.primary-nav,
.primary-nav ul,
.primary-nav li,
.primary-nav li a {
  background-color: #4caf50;
}

.primary-nav li a:hover {
  color: #4caf50;
}

.primary-nav a:hover {
  background-color: aliceblue;
}
